<h2> Game </h2>
<p class="error"> {{errorField}} <p/>


<div style="float:left;">:t
  <input type="text" ng-model="phraseField" placeholder="Enter your magical phrase here...">
  <div>
    <p> table cards </p>
    <ul class="card-thumbs">
      <li ng-repeat="card in tableCards">
        <p> {{card.index}}</p>    
        <button type="button" class="thumb" ng-click="clickedTableCard(card)">
          <img ng-src="{{card.imageUrl}}"> </img>
        </button> 
      </li>
    </ul>
  </div>

  <div>
    <ul class="card-thumbs">
      <li ng-repeat="card in ownCards">
        <p> {{card.index}}</p>    
        <button type="button" class="thumb" ng-click="clickedOwnCard(card)">
          <img ng-src="{{card.imageUrl}}"> </img>
        </button> 
      </li>
    </ul>
  </div>
</div>

<div style="float:left;">
  <h3> Game status <h3>
  <h4> Stage: {{stageDesc.name}} </h4>
  <p> {{stageDesc.instructions}} </p>
  <ul>
    <li ng-repeat="player in players">    
      <h5>Name: {{player.name}}</h5>
      <p>Score: {{player.score}}</p>
    </li>
  </ul>
</div>

